# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django-specific files
*.log
*.pot
*.pyc
db.sqlite3
media/

# Environment files
.env
.venv/
venv/
ENV/

# PyCharm files
.idea/

# Mac OS
.DS_Store

# Windows
*.bak
*.cache
*.log
*.swp
*.swo
*.swp
Thumbs.db

# Database
*.db
*.sqlite3
*.db-wal
*.db-shm

# Static files
staticfiles/
static/

# Production-related
*.pem
*.key
*.crt
*.p12
/app/yolo